<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.nombres %> <%= @user.apellido_paterno %> <%= @user.apellido_materno %></h1>
    <p>
      Felicidades, esta pre-inscrito en Conquista Volcan Osorno 2016<br>
      se enviara un correo con la confirmacion de su pago.
      
      	<!--<a href="http://www.cvo.cl/2015"><%= image_tag("logo-cvo.png", class: "logo") %></a> -->
    </p>
  </body>
</html>